//## For each of Bootstrap's buttons, define text, background and border color.

$body-text-color: #575962;
$white-color: #ffffff;
$black-color: #333333;
$transparent-bg : transparent;
$default-color : #607D8B;
$primary-color : #3F7BF3;
$info-color : #648cff;
$success-color : #2a7f62;
$warning-color : #725FAB;
$danger-color : #d1495b;

$font-weight-light : lighter;
$font-weight-normal : 400;
$font-weight-mediumbold : 500;
$font-weight-bold : 600;
$font-weight-extrabold : 800;