.wrapper{
	margin: 0px;
	padding: 20px;
	background-color: #648cfe;
	font-family: 'Poppins', sans-serif;
	color: #FFFFFF;
}

.communication{
	padding:50px;
}

/*.wrapper{
	padding: 20px;
}*/

.secwrapper{
	width: 300px;
	margin-left: 50px;
}

.information{
	padding-left: 50px; 
	padding-right: 50px;
}

.profieCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.profileTitle {
  color: grey;
  font-size: 18px;
}